In [2]:
import pandas as pd

# Load the dataset
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# Filter every 20th row for 'Manufacturer', 'Model', and 'Type'
df_filtered = df.iloc[::20][['Manufacturer', 'Model', 'Type']]
print(df_filtered)

   Manufacturer    Model     Type
0         Acura  Integra    Small
20     Chrysler  LeBaron  Compact
40        Honda  Prelude   Sporty
60      Mercury   Cougar  Midsize
80       Subaru   Loyale    Small

In [3]:
# Load the dataset
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# Calculate the mean for 'Min.Price' and 'Max.Price' excluding NaN values
min_price_mean = df['Min.Price'].mean(skipna=True)
max_price_mean = df['Max.Price'].mean(skipna=True)

# Replace NaN values with the calculated mean
df['Min.Price'].fillna(min_price_mean, inplace=True)
df['Max.Price'].fillna(max_price_mean, inplace=True)
print(df[['Min.Price', 'Max.Price']])

    Min.Price  Max.Price
0   12.900000  18.800000
1   29.200000  38.700000
2   25.900000  32.300000
3   17.118605  44.600000
4   17.118605  21.459091
..        ...        ...
88  16.600000  22.700000
89  17.600000  22.400000
90  22.900000  23.700000
91  21.800000  23.500000
92  24.800000  28.500000

[93 rows x 2 columns]

In [17]:
import numpy as np
# Get a dataframe
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))
# Get rows where the sum is greater than 100
rows_with_sum_over_100 = df[df.sum(axis=1) > 100]
print(rows_with_sum_over_100)

     0   1   2   3
0   32  38  16  19
2   24  38  12  32
5   23  27  29  27
7   30  28  39  14
11  30  28  30  13
14  29  32  35  14

In [20]:
import numpy as np

# Create a 4x4 array with random integers from 1 to 100
array = np.random.randint(1, 100, size=(4, 4))

# Define a lambda function to calculate sums of rows and columns
sum_rows = lambda arr: np.sum(arr, axis=1)
sum_cols = lambda arr: np.sum(arr, axis=0)

# Use the lambda functions and store the results
row_sums = sum_rows(array)
col_sums = sum_cols(array)

print("Row sums:", row_sums)
print("Column sums:", col_sums)

Row sums: [211 233 213 227]
Column sums: [182 243 146 313]